<div class="panel panel-primary">
	<!-- Default panel contents -->
	<div class="panel-heading">Company</div>
	<div class="panel-body">
		<form novalidate="novalidate">
			<div class="form-group">
				<label for="companyname">Company names</label> <input type="text"
					class="form-control" id="companyname" data-ng-model="companyname"
					placeholder="Company Name">
			</div>
			<div class="form-group">
				<label for="active">Active</label> <select id="active"
					class="form-control" data-ng-model="active">
					<option>--Select--</option>
					<option value="Active">Active</option>
					<option value="Inactive">Inactive</option>
				</select>
			</div>
			<div class="form-group">
				<label for="voucherThreshold">Threshold voucher availability
					(optional)</label> <input type="number" class="form-control"
					id="voucherThreshold" data-ng-model="voucherThreshold"
					placeholder="Voucher Threshold" pattern="[0-9]">
			</div>
			<div class="form-group">
				<label for="active">Administrator</label> <select id="active"
					class="form-control" data-ng-model="administrator">
					<option>--Select--</option>
					<option value="1">Willem</option>
					<option value="2">Venkata Kalyanam</option>
				</select>
			</div>
			<div class="form-group">
				<label for="coachemail">E-mail coaches (';' separated)</label> <input
					type="text" class="form-control" id="coachemail"
					data-ng-model="coachemail" placeholder="E-mail coaches">
			</div>
			<button type="button" class="btn btn-default">Cancel</button>
			<button type="submit" class="btn btn-primary">Add</button>
		</form>
	</div>
</div>