<div data-layout="row" data-layout-align="start strech">
  <div class="md-whiteframe-z2" data-layout-margin data-flex="30">
    <company-form company="currCompany" edit-opr="editOpr"></company-form>
  </div>
  <div class="md-whiteframe-z2" data-layout-margin data-flex>
  <md-toolbar class="md-table-toolbar md-warn" data-layout="row" data-layout-align="space-between stretch">
    <h4>Company(s)</h4>
   	<md-input-container>
   	<label for="filter">Search</label>
   	<input name="filter" id="filter" data-ng-model="query.filter">
	</md-input-container>
</md-toolbar>
<p data-ng-show="companyList.length==0">No record(s) to show.</p>
<md-table-container data-ng-show="companyList.length>0">
  <table data-md-table >
    <thead data-md-head data-md-order="query.order" data-md-on-reorder="companyList">
      <tr data-md-row>
        <th data-md-column data-md-order-by="name"><span>Name</span></th>
        <th data-md-column data-md-order-by="coachesmail"><span>Coach Email</span></th>
        <th data-md-column data-md-order-by="employee.firstname"><span>Administrator</span></th>
        <th data-md-column data-md-order-by="status">Status</th>
        <th data-md-column data-md-order-by="voucherthreshold">Threshold</th>
        <th data-md-column >Edit</th>
      </tr>
    </thead>
    <tbody data-md-body>
      <tr data-data-md-row  data-data-md-select-id="name" data-data-md-auto-select data-ng-repeat="company in companyList  | filter:query.filter | orderBy: query.order  | limitTo: query.limit: (query.page - 1) * query.limit">
        <td data-md-cell>{{company.name}}</td>
		<td data-md-cell>{{company.coachesmail}}</td>
		<td data-md-cell>{{company.employee.firstname}} {{company.employee.lastname}}</td>
		<td data-md-cell>{{company.status}}</td>
		<td data-md-cell>{{company.voucherthreshold}}</td>
		<td data-md-cell><md-button class="md-icon-button md-primary" data-ng-click="editCompany(company)" aria-label="Edit">
							 <md-tooltip md-direction="top">
					          Edit
					        </md-tooltip>
							<i class="fa fa-pencil fa-fw" ></i>
						</md-button> 
						 <md-button class="md-icon-button md-primary" data-ng-click="deleteCompany(company)" aria-label="Delete">
						 	<md-tooltip md-direction="top">
					          Delete
					        </md-tooltip>
					        <i class="fa fa-trash-o fa-fw"></i>
					     </md-button></td>
      </tr>
    </tbody>
  </table>
</md-table-container>
<md-table-pagination data-ng-show="companyList.length>0" data-md-limit="query.limit" data-md-limit-options="limitOptions" 
					data-md-page="query.page" data-md-total="{{companyList.length}}" data-md-on-paginate="companyList" 
					data-md-page-select></md-table-pagination>
  </div>
</div>