<div data-layout="column" layout-align="start stretch">
  <div class="md-whiteframe-z1">

  	<md-toolbar class="md-table-toolbar md-default">
  	  <div data-layout-margin>
		  <div class="md-toolbar-tools">
		    <form flex name="filter.form" layout-align="center center">
		       <md-input-container>
		       		  <label for="poList">Purchase Order</label> 
				      <md-select  name="poList" data-ng-model="selectedPOrder" data-ng-change="poChange()" required>
					    <md-option data-ng-value="order" data-ng-repeat="order in purchaseorderList">{{ order.code }}-{{ order.orderdate }}</md-option>
					  </md-select>
				  </md-input-container>
		    </form>
		  </div>
		  </div>
		</md-toolbar>
  </div>
  <div class="md-whiteframe-z2" data-ng-if="vouchers.length >0">
    <div data-layout-margin layout-align="center center">
    	<md-toolbar class="md-table-toolbar md-warn" data-layout="row" data-layout-align="space-between stretch">
		  	<h4>Voucher(s)</h4>
	       <md-input-container>
			    <input data-ng-model="query.filter" placeholder="search">
			</md-input-container>
		</md-toolbar>
		<p data-ng-show="vouchers.length==0">Please select one from list</p>
			<md-table-container data-ng-show="vouchers.length>0">
			  <table data-md-table >
			    <thead data-md-head data-md-order="query.order" data-md-on-reorder="vouchers">
			      <tr data-md-row>
			        <th data-md-column data-md-order-by="code"><span>Voucher</span></th>
			        <th data-md-column data-md-order-by="employeeId"><span>Emp #</span></th>
			        <th data-md-column data-md-order-by="firstname">Name</th>
			      </tr>
			    </thead>
			    <tbody data-md-body>
			      <tr data-data-md-row  data-data-md-select-id="username" data-data-md-auto-select data-ng-repeat="voucher in vouchers  | filter:query.filter | orderBy: query.order  | limitTo: query.limit: (query.page - 1) * query.limit">
			        <td data-md-cell>{{voucher.code}}</td>
					<td data-md-cell>{{voucher.employeeId}}</td>
					<td data-md-cell>{{voucher.firstname}} {{voucher.firstname}}</td>
			      </tr>
			    </tbody>
			  </table>
			</md-table-container>
			<md-table-pagination data-ng-show="vouchers.length>0" data-md-limit="query.limit" data-md-limit-options="limitOptions" 
									data-md-page="query.page" data-md-total="{{vouchers.length}}" data-md-page-select></md-table-pagination>
			</div>
  </div>
    <div class="md-whiteframe-z2" data-ng-if="vouchers.length >0">
  	<md-toolbar class="md-table-toolbar md-default">
		  <div class="md-toolbar-tools">
		    <md-button class="md-primary md-raised" data-ng-click="exportXLSData()">Download <i class="fa fa-file-excel-o" aria-hidden="true"></i></md-button>
			<md-button class="md-primary md-raised" data-ng-click="exportPDFData()">Download <i class="fa fa-file-pdf-o" aria-hidden="true"></i></md-button>
		  </div>
		</md-toolbar>
  </div>
</div>