<form name="certificateForm" layout-padding>
	<div class="md-title">Certificate</div>
	<div layout="column" data-layout-align="center strech">
		<md-input-container> <label>Abbreviation</label>
		<input name="abbreviation" data-ng-model="certificate.abbreviation"
			required placeholder="Abbreviation" maxlength="10">
		<div data-ng-messages="certificateForm.abbreviation.$error">
			<div data-ng-message="required">This is required!</div>
			<div data-ng-message="maxlength">Only 10 characters are
				allowed!</div>
		</div>
		</md-input-container>
		<md-input-container> <label>Code</label> <input
			name="code" class="form-control" id="code"
			data-ng-model="certificate.code" required placeholder="Code"
			maxlength="20">
		<div data-ng-messages="certificateForm.code.$error">
			<div data-ng-message="required">This is required!</div>
			<div data-ng-message="maxlength">Only 20 characters are
				allowed!</div>
		</div>
		</md-input-container>
		<md-input-container> <label>Name</label> <input
			class="form-control" name="name" id="name"
			data-ng-model="certificate.name" required placeholder="Name"
			maxlength="100">
		<div data-ng-messages="certificateForm.name.$error">
			<div data-ng-message="required">This is required!</div>
			<div data-ng-message="maxlength">Only 100 characters are
				allowed!</div>
		</div>
		</md-input-container>
		<md-input-container> <label>Passing Score</label>
		<input name="passingscore" type="number" min="1" max="100"
			class="form-control" id="passingscore" required
			data-ng-model="certificate.passingscore" placeholder="Default value">
		<div data-ng-messages="certificateForm.name.$error">
			<div data-ng-message="required">This is required!</div>
			<div data-ng-message="maxlength">Only 1-100 is valid!</div>
		</div>
		</md-input-container>
		<md-input-container> <label>Status</label> <md-select
			data-ng-model="certificate.status" name="status" required>
		<md-option data-ng-value="status.value"
			data-ng-repeat="status in statusList">{{ status.key }}</md-option> </md-select>
		<div data-ng-messages="certificateForm.status.$error">
			<div data-ng-message="required">This is required!</div>
		</div>
		</md-input-container>
		<md-input-container> <label>Company</label> <md-select
			name="company" required data-ng-model="certificate.companyId">
		<md-option data-ng-repeat="company in companyList"
			ng-value="company.id"> {{ company.name }} </md-option> </md-select>
		<div data-ng-messages="certificateForm.company.$error">
			<div data-ng-message="required">This is required!</div>
		</div>
		</md-input-container>
		<md-input-container> <md-button
			class="md-primary" data-ng-click="reset()">Cancel</md-button> <md-button
			class="md-primary" data-ng-show="!editOpr"
			data-ng-disabled="certificateForm.$invalid" data-ng-click="create()"
			data-ng-class="{'md-raised md-hue-1': (certificateForm.$dirty && certificateForm.$valid) }"
			aria-label="Create certificate">Add</md-button> <md-button
			class="md-primary" data-ng-show="editOpr"
			data-ng-disabled="certificateForm.$invalid" data-ng-click="update()"
			data-ng-class="{'md-raised md-hue-1': (certificateForm.$dirty && certificateForm.$valid) }"
			aria-label="Update certificate">Update</md-button> </md-input-container>
	</div>
</form>
</div>
