<div data-layout="row" data-layout-align="start strech">
  <div  class="md-whiteframe-z2" data-layout-margin data-flex="30">
    <certificate-form edit-opr="editOpr" certificate="currCertificate" company-list="companyList" ></certificate-form>
  </div>
  <div class="md-whiteframe-z2" data-layout-margin data-flex>
  <md-toolbar class="md-table-toolbar md-warn" data-layout="row" data-layout-align="space-between stretch">
   	<h4>Certificate(s)</h4>
   	<md-input-container>
   	<label for="filter">Search</label>
   	<input name="filter" id="filter" data-ng-model="query.filter">
	</md-input-container>
</md-toolbar>
<p data-ng-show="certificateList.length==0">No record(s) to show.</p>
<md-table-container data-ng-show="certificateList.length>0">
  <table data-md-table >
    <thead data-md-head data-md-order="query.order" data-md-on-reorder="certificateList">
      <tr data-md-row>
        <th data-md-column data-md-order-by="abbreviation"><span>Abbreviation</span></th>
        <th data-md-column data-md-order-by="code"><span>Code</span></th>
        <th data-md-column data-md-order-by="name">Name</th>
        <th data-md-column data-md-numeric data-md-order-by="passingscore">Passing Score</th>
        <th data-md-column data-md-order-by="company.name">Company</th>
        <th data-md-column data-md-order-by="status">Status</th>
        <th data-md-column >Edit</th>
      </tr>
    </thead>
    <tbody data-md-body>
      <tr data-data-md-row  data-data-md-select-id="name" data-data-md-auto-select data-ng-repeat="cert in certificateList  | filter: query.filter | orderBy: query.order  | limitTo: query.limit: (query.page - 1) * query.limit">
        <td data-md-cell>{{cert.abbreviation}}</td>
        <td data-md-cell>{{cert.code}}</td>
        <td data-md-cell>{{cert.name}}</td>
        <td data-md-cell>{{cert.passingscore}}</td>
        <td data-md-cell>{{cert.company.name}}</td>
        <td data-md-cell>{{cert.status}}</td>
        <td data-md-cell>
        		<md-button class="md-icon-button md-primary" aria-label="Edit" data-ng-click="editCertificate(cert)">
					 <md-tooltip md-direction="top">
			          Edit
			        </md-tooltip>
					<i class="fa fa-pencil fa-fw" ></i>
				</md-button> 
        </td>
      </tr>
    </tbody>
  </table>
</md-table-container>
<md-table-pagination data-ng-show="certificateList.length>0" data-md-limit="query.limit" data-md-limit-options="limitOptions" 
					data-md-page="query.page" data-md-total="{{certificateList.length}}" data-md-on-paginate="certificateList" 
					data-md-page-select></md-table-pagination>
  </div>
</div>