<div class="container-fluid">
	<div class="well well-lg">
		<div class="row">
			<div class="col-md-6 col-md-offset-3">
				<form data-ng-submit="controller.login()">
					<div class="form-group">
						<label for="inputEmail3" >Username</label>
							<input type="text" class="form-control" id="username"
								name="username" data-ng-model="controller.credentials.username" />
					</div>
					<div class="form-group">
						<label for="inputPassword3">Password</label>
							<input type="password" class="form-control" id="password"
								name="password" data-ng-model="controller.credentials.password" />
					</div>
					<button type="submit" class="btn btn-primary">Sign in</button>
				</form>
			</div>
		</div>
		<div class="alert alert-danger" data-ng-show="controller.error">There
			was a problem logging in. Please try again.</div>
	</div>
</div>
