<div layout="row" layout-align="start stretch">
  <div class="md-whiteframe-z2" data-layout-margin> 
  <md-content layout-padding>
  	  <h4>Request Voucher</h4>
		    <form  name="voucherReqform" layout="column" layout-align="start stretch">
		       <md-input-container>
		       				<label for="certificateId">Certificate</label> 
							<md-select id="certificateid" name="certificateId" data-ng-model="certificate" required>
								<md-option data-ng-value="certificate.id" data-ng-repeat="certificate in certificateList">{{ certificate.company.name }}-{{ certificate.code }}-{{ certificate.abbreviation }}</md-option>
							</md-select>
							<div ng-messages="voucherReqform.certificateId.$error">
					            <div ng-message="required">This is required!</div>
					        </div>
				  </md-input-container>
				  <md-input-container>
		          <md-datepicker name="examdate" data-ng-model="dt" md-min-date="minDate" md-max-date="maxDate" md-placeholder="Enter Date">
		          </md-datepicker>
		          <div data-ng-messages="voucherReqform.examdate.$error">
		            <div data-ng-message="valid">The entered value is not a date!</div>
		            <div data-ng-message="required">This date is required!</div>
		            <div data-ng-message="mindate">Date is too early!</div>
		            <div data-ng-message="maxdate">Date is too late!</div>
		          </div>
		        </md-input-container>
				<md-input-container>
        			<md-button class="md-primary md-raised">Request</md-button>
				</md-input-container>
		    </form>
	</md-content>
  </div>
    <div data-flex class="md-whiteframe-z2">
    <div data-layout-margin >
    	<md-toolbar class="md-table-toolbar  md-warn" data-layout="row" data-layout-align="space-between stretch">
		    <h4>Certificate(s)</h4>
		    	<md-input-container>
		    	<input name="filter" id="filter" data-ng-model="query.filter" placeholder="Search">
				</md-input-container>
		</md-toolbar>
		<p data-ng-show="certificateList.length==0">No record(s) to show.</p>
			<md-table-container data-ng-show="certificateList.length>0">
			  <table data-md-table >
			    <thead data-md-head data-md-order="query.order" data-md-on-reorder="certificateList">
			      <tr data-md-row>
			        <th data-md-column data-md-order-by="abbreviation"><span>Abbreviation</span></th>
			        <th data-md-column data-md-order-by="code"><span>Code</span></th>
			        <th data-md-column data-md-numeric data-md-order-by="passingscore">Passing Score</th>
			      </tr>
			    </thead>
			    <tbody data-md-body>
			      <tr data-data-md-row  data-data-md-select-id="name" data-md-auto-select data-ng-repeat="cert in certificateList  | filter:query.filter | orderBy: query.order  | limitTo: query.limit: (query.page - 1) * query.limit">
			        <td data-md-cell>
			        <i class="fa fa-info-circle" aria-hidden="true">
						<md-tooltip md-direction="top">
						    {{cert.name}}
						</md-tooltip>
					</i> {{cert.abbreviation}}</td>
					<td data-md-cell>{{cert.code}}</td>
					<td data-md-cell>{{cert.passingscore}}</td>
			      </tr>
			    </tbody>
			  </table>
			</md-table-container>
			<md-table-pagination data-ng-show="certificateList.length>0" data-md-limit="query.limit" data-md-limit-options="limitOptions" 
									data-md-page="query.page" data-md-total="{{certificateList.length}}" data-md-on-paginate="certificateList" 
									data-md-page-select></md-table-pagination>
			</div>
  </div>
</div>