<div data-layout="row" data-layout-align="start strech">
  <div class="md-whiteframe-z2" data-layout-margin data-flex="20">
    <parameter-form parameter="currParameter" edit-opr="editOpr"></parameter-form>
  </div>
  <div class="md-whiteframe-z2" data-layout-margin data-flex>
  <md-toolbar class="md-table-toolbar md-warn" data-layout="row" data-layout-align="space-between stretch">
    <h4>Parameter(s)</h4>
   	<md-input-container >
   	<input name="filter" id="filter" data-ng-model="query.filter" placeholder="Search">
	</md-input-container>
</md-toolbar>
<p data-layout-margin data-ng-show="parameterList.length==0">No record(s) to show.</p>
<md-table-container data-ng-show="parameterList.length>0">
  <table data-md-table >
    <thead data-md-head data-md-order="query.order" data-md-on-reorder="parameterList">
      <tr data-md-row>
        <th data-md-column data-md-order-by="key"><span>Key</span></th>
        <th data-md-column data-md-order-by="value"><span>Value</span></th>
        <th data-md-column data-md-order-by="defaultvalue">Default Value</th>
        <th data-md-column >Edit/Delete</th>
      </tr>
    </thead>
    <tbody data-md-body>
      <tr data-data-md-row  data-data-md-select-id="name" data-data-md-auto-select data-ng-repeat="parameter in parameterList  | filter:query.filter | orderBy: query.order  | limitTo: query.limit: (query.page - 1) * query.limit">
        <td data-md-cell>{{parameter.key}}</td>
		<td data-md-cell>{{parameter.value}}</td>
		<td data-md-cell>{{parameter.defaultvalue}}</td>
		<td data-md-cell><md-button class="md-icon-button md-primary" data-ng-click="editParameter(parameter)" aria-label="Edit">
							 <md-tooltip md-direction="top">
					          Edit
					        </md-tooltip>
							<i class="fa fa-pencil fa-fw" ></i>
						</md-button> 
						 <md-button class="md-icon-button md-primary" data-ng-click="deleteParameter(parameter)" aria-label="Delete">
						 	<md-tooltip md-direction="top">
					          Delete
					        </md-tooltip>
					        <i class="fa fa-trash-o fa-fw"></i>
					     </md-button></td>
      </tr>
    </tbody>
  </table>
</md-table-container>
<md-table-pagination data-ng-show="parameterList.length>0" data-md-limit="query.limit" data-md-limit-options="limitOptions" 
					data-md-page="query.page" data-md-total="{{parameterList.length}}" data-md-on-paginate="parameterList" 
					data-md-page-select></md-table-pagination>
  </div>
</div>