<form novalidate="novalidate" name="paramForm" layout-padding>
	<div class="md-title">Parameter</div>
	<md-padding layout="column" data-layout-align="center strech">
		<md-input-container> <label for="companyname">Parameter
			Name</label> <input id="key" data-ng-model="parameter.key" required name="key"
			placeholder="Parameter Name">
		<div data-ng-messages="paramForm.key.$error">
			<div data-ng-message="required">This is required!</div>
		</div>
		</md-input-container>
		<md-input-container> <label
			for="voucherThreshold">Value</label> <input id="voucherThreshold"
			name="voucherThreshold" data-ng-model="parameter.value" required
			placeholder="Voucher Threshold">
		<div data-ng-messages="paramForm.voucherThreshold.$error">
			<div data-ng-message="required">This is required!</div>
		</div>
		</md-input-container>
		<md-input-container> <label for="coachemail">Default
			value</label> <input id="defaultvalue" required name="defaultvalue"
			data-ng-model="parameter.defaultvalue" placeholder="Default value">
		<div data-ng-messages="paramForm.defaultvalue.$error">
			<div data-ng-message="required">This is required!</div>
		</div>
		</md-input-container>
		<md-input-container> <md-button
			class="md-primary" data-ng-click="reset()">Cancel</md-button> <md-button
			class="md-primary" data-ng-show="!editOpr"
			data-ng-disabled="paramForm.$invalid" data-ng-click="create()"
			data-ng-class="{'md-raised md-hue-1': (paramForm.$dirty && paramForm.$valid) }"
			aria-label="Create Parameter">Add</md-button> <md-button
			class="md-primary" data-ng-show="editOpr"
			data-ng-disabled="paramForm.$invalid" data-ng-click="update()"
			data-ng-class="{'md-raised md-hue-1': (paramForm.$dirty && paramForm.$valid) }"
			aria-label="Update Paramemter">Update</md-button> </md-input-container>
	</md-padding>
</form>