<md-toolbar>
      <div class="md-toolbar-tools" layout-align="start center">
        <div class="md-title"><img alt="" src="./images/logo.png"> </div>
		 <md-menu-bar data-ng-repeat="menu in menuList" > 
				<md-list>
					<md-list-item data-ng-if="menu.dropdown && menu.expose"> 
						<md-menu>
							<md-button ng-click="$mdOpenMenu()">
								<i class="{{menu.iconTag}}" aria-hidden="true"></i> {{menu.name}}
							</md-button>
							<md-menu-content> 
								<md-menu-item ng-repeat="dropmenu in menu.dropdownItems"> 
									<md-button href="{{dropmenu.link}}">
										<i class="{{dropmenu.iconTag}}" aria-hidden="true"></i> {{dropmenu.name}}
									</md-button>
								</md-menu-item>
							</md-menu-content> 
						</md-menu> 
					</md-list-item> 
					<md-list-item data-ng-if="!menu.dropdown && menu.expose">
						<md-button href="{{menu.link}}" aria-label="{{menu.name}}">
							<i class="{{menu.iconTag}}" aria-hidden="true"></i> {{menu.name}}
						</md-button> 
					</md-list-item> 
				</md-list>
				</md-menu-bar>
		</div>
    </md-toolbar>