<div data-layout="row" data-layout-align="start strech">
<div class="md-whiteframe-z2" data-layout-margin data-flex="20">
<employee-form employee="selectedEmployee" edit-opr="editOpr"></employee-form>
</div>
  <div class="md-whiteframe-z2" data-layout-margin data-flex>
    	<md-toolbar class="md-table-toolbar md-warn" data-layout="row" data-layout-align="space-between stretch">
		    <h4>Employee(s)</h4>
	    	<md-input-container>
	    	<input name="filter" id="filter" data-ng-model="query.filter" placeholder="Search">
			</md-input-container>
		</md-toolbar>
		<p data-ng-show="employeeList.length==0">No record(s) to show.</p>
		<md-table-container data-ng-show="employeeList.length>0">
		  <table data-md-table >
		    <thead data-md-head data-md-order="query.order" data-md-on-reorder="employeeList">
		      <tr data-md-row>
		        <th data-md-column data-md-order-by="firstname"><span>First name</span></th>
		        <th data-md-column data-md-order-by="lastname"><span>Last name</span></th>
		        <th data-md-column data-md-order-by="username">Username</th>
		        <th data-md-column data-md-order-by="emailname">Email</th>
		        <th data-md-column data-md-order-by="managerid">Manager Emp#</th>
		        <th data-md-column data-md-order-by="role">Role</th>
		        <th data-md-column data-md-order-by="status">Status</th>
		        <th data-md-column data-md-order-by="functionnumber">Function Number</th>
		        <th data-md-column >Edit</th>
		      </tr>
		    </thead>
		    <tbody data-md-body>
		      <tr data-data-md-row  data-data-md-select-id="username" data-data-md-auto-select data-ng-repeat="emp in employeeList  | filter: query.filter | orderBy: query.order  | limitTo: query.limit: (query.page - 1) * query.limit">
		        <td data-md-cell>{{emp.firstname}}</td>
				<td data-md-cell>{{emp.lastname}}</td>
				<td data-md-cell>{{emp.username}}</td>
				<td data-md-cell>{{emp.emailname}}</td>
				<td data-md-cell>{{emp.managerid}}</td>
				<td data-md-cell>
					<i class="fa fa-users fa-fw" data-ng-show="emp.role=='ROLE_UNIT_MANAGER'" aria-hidden="true">
						<md-tooltip md-direction="top">
				          Unit Manager
				        </md-tooltip>
					</i>
					<i class="fa fa-cog fa-fw" data-ng-show="emp.role=='ROLE_ADMINISTRATOR'" aria-hidden="true">
						<md-tooltip md-direction="top">
				          Administrator
				        </md-tooltip>
					</i>
					<i class="fa fa-user" data-ng-show="emp.role=='ROLE_EMPLOYEE'" aria-hidden="true">
						<md-tooltip md-direction="top">
				          Employee
				        </md-tooltip>
					</i>
					
				</td>
				<td data-md-cell>
					<i class="fa fa-laptop" data-ng-show="emp.status=='IN_SERVICE'" aria-hidden="true">
					<md-tooltip md-direction="top">
				          In Service
				        </md-tooltip>
					</i>
					<i class="fa fa-ban" data-ng-show="emp.status=='OUT_SERVICE'" aria-hidden="true">
					<md-tooltip md-direction="top">
				          Out Service
				        </md-tooltip>
					</i>
				</td>
				<td data-md-cell title="{{emp.functiondescription}}">{{emp.functionnumber}}</td>
				<td data-md-cell>
					<md-button class="md-icon-button md-primary" aria-label="Edit" data-ng-click="editEmployee(emp)">
						 <md-tooltip md-direction="top">
				          Edit
				        </md-tooltip>
						<i class="fa fa-pencil fa-fw" ></i>
					</md-button> 
				</td>
		      </tr>
		    </tbody>
		  </table>
		</md-table-container>
		<md-table-pagination data-ng-show="employeeList.length>0" data-md-limit="query.limit" data-md-limit-options="limitOptions" 
							data-md-page="query.page" data-md-total="{{employeeList.length}}" data-md-page-select></md-table-pagination>
	</div>
</div>